@import "../../_settings/variables.css";

.signin-btn {
  background-color: var(--blue-1);
  border: none;
  color: var(--white);
  font-size: 16px;
  padding: 3px 5px;
  border-radius: 2px;
}

.normal-button {
  size: medium;
  background-color: blue;
  color: white;
}

.large-button {
  size: large;
  background-color: black;
  color: white;
}
