@import "../../_settings/variables.css";

.header-holder {
  background-color: var(--black-4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  padding: 0px 20px;
  height: 60px;
  align-items: center;
  gap: 20px;
}
